@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.panelContainer{
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  width: 50vw;
  height:35rem;  
  @media(max-width: 767px){
    @include flex-direction(column);
  }
}

.panel{
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include align-self(center);
  text-align: center;
  font-size: 2rem;
  h6{
    font-size: 2rem;
  }
  @media(min-width: 1920px){
    font-size: 2.6rem;
   }
}

.panelContainerAdult,
.panelContainerAdultHover,
.panelContainerKid,
.panelContainerKidHover{
  @media(max-width: 767px){
    width: 100vw;
  }
}

.panelContainerAdult{
@extend .panelContainer;
background-image: url('/public/images/backgrounds/adultNohover.jpg');
background-size: cover;
}

.panelContainerAdultHover{
  @extend .panelContainer;
  background-image: url('/public/images/backgrounds/adultHover.jpg');
  background-size: cover;
  color: $site--color__white;
  border:none;
}

.lato{
  font-family: $copy--font__lato;
}

.panelContainerKid{
  @extend .panelContainer;
  @extend .panelContainerAdult;
  background-image: url('/public/images/backgrounds/kidNohover.jpg');
 
}

.panelContainerKidHover{
  @extend .panelContainer;
  @extend .panelContainerAdultHover;
  background-image: url('/public/images/backgrounds/kidHover.jpg');
}

.infoPanel{
  @extend .panel;
  font-size: 1.6rem;
  @media(min-width: 1920px){
    font-size: 2rem;
  }
  

  & p{
    text-transform: none;
    margin: .1rem .4rem;
    
  }
  .signup{
    text-transform: uppercase;
    padding-top: 1rem;
    font-size: 1.4rem;
  
  }
}

.infoHeader{
  @extend .green;
  font-size: 2rem;
  margin-bottom: 1rem;
  @media(min-width: 1920px){
    font-size: 2.3rem;
   }
}

.infoBody{
  margin-bottom: 1.3rem;
  @media(min-width: 1920px){
    font-size: 2rem;
   }
}

h6.btn{
  margin-top: 1.5rem;
  font-weight: 300;
  font-size: 2rem;
  @media(min-width: 1920px){
    font-size: 2.2rem;
   }
   @media(max-width: 1440px){
    font-size: 2.2rem;
   }
   @media(max-width: 767px){
    font-size: 1.8rem;
   }
   
}

