//import flexbox styles
@import './src/flexbox.scss';

/* STYLE GUIDE VARS */

$site--color__gray: #393D42;
$site--color__lightGray: #f2f3f4;
$site--color__black: #1C1C1B;
$site--color__yellow: #FACC05;
$site--color__green: #019c7D;
$site--color__white: #ffffff;
$site--color__red: #FF0000;
$site--color__disabled: #444444;
$copy--font__lato: 'Lato', sans-serif;
$copy--font__oswald: 'Oswald', sans-serif;


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  box-sizing: border-box;


}

body{
  height: 100%;
  width: 100%;
  
  overflow-x: hidden;
  font-family: $copy--font__oswald;
  
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  @include display(block);
  cursor: pointer;
  background-color: $site--color__green;
  color: $site--color__white;
  font-weight: 700;
  font-family: $copy--font__oswald;
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  &:hover{
    opacity: .8;
  }
  &:active{
    background-color: $site--color__green;
  }
  &:link{
    background-color: transparent;
  }
  &:disabled{
    background-color: #444444;
  }
}

.btn {
  @extend button;
}

.yellow{
  color:$site--color__yellow;
}

.green{
  color:$site--color__green;
}

.hide{
  display: none;
}

