@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.navigationContainer{
  @include display(flex);
  @include flex-direction(row);
  width: 100%;
  font-size: 2rem;
  padding: .23rem 0;
  text-transform: uppercase;
}

.xGunna{
  height: 1.2rem;
}

.bars{
font-size: 8rem;
}

.linksInner{
  @include display(flex);
  @include flex-direction(column);
  text-transform: lowercase;
  width: 100vw;
  position: absolute; 
  background-color: $site--color__gray;
  left: 0;
  text-align: right; 
  padding-top: 2rem;
  font-size: 2rem;


}

.iconStyle{
  font-size: 8rem;
   color: #FCB016;
}
.navLink{
  font-weight: 100;
  padding-right: 15rem;
  cursor: pointer;
  &:hover{
    background: $site--color__yellow;
  }
}