@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';


.socialLanding{
  @extend .backgroundLanding;
  @include justify-content(center);
  @include align-items(center);
  height: 35rem;
}
.contentRowVideo{
  @extend .contentRow;

  padding: 2rem 0;
 
  
}

.promoVideo{
  margin-right: 1.4rem;
}

.socialHeader{
  margin-top: 2rem;
  text-align: center;
  font-size: 2.4rem;
}