@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.contentRowVideo{
  @extend .contentRow;
  @include justify-content(center);
  padding: 2rem 0;
  
}

.promoVideo{
  margin-right: 1.4rem;
}

.socialHeader{
  margin-top: 2rem;
  text-align: center;
  font-size: 2.4rem;
}