@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.footer{
  background-color: $site--color__yellow;
  font-weight: 100;
  color: black;
  height: auto;
}

.footerContainer{
  display: flex;
  flex-flow: column;
}

.mapPanel{
  width: 100vw;
}

.footerLinks{
  margin: 4rem;
  &:last-child{
    margin-bottom: 1rem;
  }
}
.contactGroup{
  margin: auto 0;
}
.contactPanel{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.pipeRow{
  display: flex;
  text-transform: uppercase;
  justify-content: flex-start;
  font-size: larger;
  margin: 0 6rem 6rem;
}

.logoBig{
  height: 250px;

}
.pipe{
  margin: 0 1rem;
  color: white;
}

.block{
    padding: 5px 15px;
    margin: 2rem;
    background-color: #000;
  
}
