@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.footerContainer{
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-around);
  @include align-items(center);
  width: 100%;
  font-size: 1.4rem;
  background-color: $site--color__lightGray;
  color: $site--color__black;
  padding: 2rem 0;
  @media(min-width: 1920px){
    font-size: 2.5rem;
   }
   @media(max-width: 1919px){
    font-size: 2.3rem;
   }
  @media(max-width: 1440px){
    font-size: 2.2rem;
   }
   
  @media(max-width: 1024px){
    @include flex-direction(column);
    @include justify-content(center);
    padding: 0;
  }
  @media(max-width: 767px){
    font-size: 1.6rem;
    text-align: center;
  }
}

.iFrameBorder{
  border: none;
 
}



.mapPanel{
  margin-left: 5%;
}

.addressPanel, .contactPanel{
  text-align: center;
}

.addressPanel{
  @include align-items(start);
  margin-right: 1%;
  @media(max-width: 1024px){
    @include flex-direction(column);
    @include justify-content(center);
    padding: 0;
  }
  
}
.contactPanel{
  width: 20%;
  margin-right: 5%;
  @media(max-width: 1024px){
    @include flex-direction(column);
    @include justify-content(center);
    margin-right: 0;
  }
  @media(max-width: 767px){
    width: 100%;
    margin-right: 0;
  }
  
}

.copyrightPanel{
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem 0;
  background-color: $site--color__black;
  .copyrightCopy{
    text-align: center;
    color: $site--color__white;
    @media(min-width: 1920px){
      font-size: 2rem;
     }
    @media(max-width: 1919px){
      font-size: 2rem;
     }
     @media(max-width: 1440px){
      font-size: 2rem;
     }
    @media(max-width: 767px){
      font-size: 1.6rem;
    }
    @media(max-width: 600px){
      font-size: 1.4rem;
    }
    
  }
}

h5.btn{
  margin-top: .6rem;
  text-align: center;
  width: 40%;
  margin: 1rem auto;
  font-size: 1.6rem;
  @media(max-width: 1440px){
    font-size: 1.5rem;
   }
  @media(max-width: 1024px){
    @include flex-direction(column);
    @include justify-content(center);
    margin:1.1rem auto;
    font-size: 1.3rem;
    width: 20%;
  }
  @media(max-width: 767px){
    @include flex-direction(column);
    @include justify-content(center);
    margin:1rem auto;
    font-size: 1.6rem;
    width: 15%;
  }
  @media(max-width: 320px){
    font-size: 1.3rem;
  }
}

.contactPanel h4, .addressPanel h4{
  margin: .3rem 0;
}

.addressPanel h3{
  @media(max-width: 425px){
    margin: 2rem 0;
  }
}
.contactHeader{
  @media(max-width: 1024px){
    margin-top: 1rem;
  }
}
