@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

$dsBtn: yellow;
/*ranks */



.calWrapper{
  padding: 5rem 2rem;
  height: 185%;
  background: #000;
}

.calContentWrapper{
  text-align: center;
}


.calButtonWrapper{
  display: flex;
background: transparent;
justify-content: center;
}

.borderLine{
  border: 2px solid white;
  width: 50%;
  height: 0;
  align-self: center;
}

.allyBtn{
  background-color: transparent;
  border: 2px solid $dsBtn;
  margin: 0 2rem;
   width: 20%; 
@media (max-width: 1200px){
  flex-flow: column;
  justify-content: space-around;
  align-self: flex-start;
  margin-right: 2em;
  width: 40%;
  }
 
}

.calRow{
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  
@media (max-width: 1200px){
  flex-flow: column;
  justify-content: space-around;
  align-self: flex-start;
  margin-right: 2em;
  }
}

.classHeader{
color: $dsBtn;
margin: 2rem 0;
}

.classCopy{
  font-weight: 100;
}