@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.promoContainer{
  @include display(flex);
  @include justify-content(center);
  @include align-self(center);
  width: 100vw;
  height: 30rem;
  padding: 3rem 0;
  background-image: url('https://res.cloudinary.com/the-sage-mages/image/upload/v1565392711/alliance%20pics/freeTrial.jpg');
  background-size: cover;
  background-position: center;
}

.promoCopy{
  @include align-self(center);
  color:$site--color__black;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  @media(min-width: 1920px){
    font-size: 2.6rem;
   }
  @media(max-width: 425px){
    font-size: 1.2rem;
    padding: 0 .5rem;
    }
}

.promoBtn{
  margin: 1.5rem auto 0 auto;
  font-size: 2rem;
  font-weight: 300;
}