
.slideContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #eab53b;
    @media screen and (min-width:1024px){
        width: 930px;
        height: 420px;
      }
   


    

    .dotContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .sliderDot{
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: lightgray;
      margin: .25em;
      cursor: pointer;
    }
  
    .activeDot{
      @extend .sliderDot;
      border: 2px solid black;
    }
  }
  
  .hidden{
    display: none;
  }

  .arrowBlock{
    position: absolute;
    top: 75%;
    z-index: 9999;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    @media(min-width: 600px){
      top: 74%;
    }
    @media(min-width: 768px){
      top: 83%;
    }
    @media(min-width: 900px){
      top: 30%;
      padding: 0 18%;
    }
 
  }


  .signupBtn{
    border:2px solid #eab53b;
    background-color: transparent;
    font-size: larger;
    margin-left: 2%;
  }
  .copyBlock{
      color: #fff;
    align-self: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: .9rem;
    margin-left: 7%;
    width: 300px;
    @media(min-width: 600px){
      font-size: 1.1rem;
    }
    @media(min-width: 1024px){
      font-size: 1.6rem;
    }
   }

   .copy{
       margin: 3rem 0;
   }



  .arrow{
    font-weight: 100;
    font-size: 5em;
    cursor: pointer;
  }

   .pic{
    @extend .slideContainer;
    background-position: center;
    background-size: cover;     
   }   
  .pic1{
    @extend .pic;
    background-image: url('https://res.cloudinary.com/https-jungapi-herokuapp-com-public/image/upload/v1582490858/Alliance/carousel1_dswzim.png');


   }
  .pic2{
    @extend .pic;
    background-image: url('https://res.cloudinary.com/https-jungapi-herokuapp-com-public/image/upload/v1582490859/Alliance/carousel2_auvz2n.png');

   }
  .pic3{
    @extend .pic;
    background-image: url('https://res.cloudinary.com/https-jungapi-herokuapp-com-public/image/upload/v1582490859/Alliance/carousel3_tzznj2.png');

   }