@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.headerContainer{
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  height: auto;
  padding: 5rem;
  color: $site--color__white;
  font-weight: 300;
  @media (max-width: 1200px){
    justify-content: space-between;
  }
}

.bold{
    font-weight: 600;
  }

.logoContainer{
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    justify-content: space-around;
    margin-left: 5%;   
  
}

.navContainer{
  margin-right: 5%;
}

.nwaWrapper{
  margin-bottom: 1rem;
}
.nwaHeader{
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 6.5rem;
  line-height: 1;
  font-weight: 800;
  color: lightgray;
}
.logoLong{
  height: 60px;
  width: 705px;
}