@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.headerContainer{
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  width: 100vw;
  height: 150px;
  background-color:$site--color__gray;
  color: $site--color__white;
  font-weight: 300;

  .bold{
    font-weight: 600;
  }
  .logoContainer{
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    margin-left: 5%;
    .logo{
      margin-left: 1.5rem;
      font-size: 3rem;
      width: 25.75rem;
    }
  }
  .address{
    margin-right: 5%;
    font-size: 1.1rem;
   h4{
    text-align: right;
    font-size: 1.4rem;
    font-weight: 300;
   }
  }


}