@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.headerContainer{
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  width: 100vw;
  height: 150px;
  background-color: darkgray;
  color: #fff;
  font-weight: 300;

  .bold{
    font-weight: 600;
  }
  .logoContainer{
    margin-left: 5%;
    .logo{
      font-size: 3rem;
      width: 18.75rem;
    }
  }
  .address{
    margin-right: 5%;
    font-size: 1.1rem;
   h4{
    text-align: right;
    font-size: 1.4rem;
    font-weight: 300;
   }
   
   
  }
}