@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';


.contentRowVideo{
  @extend .contentRow;
  @include justify-content(center);
  padding: .6rem 0;

  
}

.promoVideo{
  margin-right: 1.4rem;
}


.contentRowInstructor{
  @extend .contentRow;
  height: 40rem;
}
.luis{
  background-image: url('/dist/public/images/backgrounds/luis.png');
  background-size: cover;
  width: 50%;
  
}

.luisInfo{
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  width: 50%;
  font-size: 1.4rem;
  font-weight: 300;
}

.accolades{
  @extend .green;
  text-transform: uppercase;
  margin-top: .7rem;
}

.bio{
  margin: 1rem 3rem;
}