@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.heroContainer{
  width: 100vw;
  height: 42rem;
  background-image: url('/public/images/backgrounds/landingFPO.png');
  background-size: cover;
  background-position: center;
}
