@import '../../../src/flexbox.scss';
@import '../../../src/client.scss';

.heroContainer{
  width: 100vw;
  height: 40rem;
  background-image: url('/dist/public/images/backgrounds/landingFPO.png');
  background-size: cover;
  background-position: center;
}

.instructorContainer{
  @extend .heroContainer;
  background-image: url('/public/images/backgrounds/luisrubalcava.jpg');
  background-position: top;

}

.contactContainer{
  @extend .heroContainer;
  background-image: url('/public/images/backgrounds/action.jpg');
  background-position: center;
}